{% load static %}
{% include './template-parts/header.html' %}
<style>
    .overlay-custom {
  position: absolute;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
</style>

    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
            {% for slide in slider %}
            <div class="owl-carousel-item position-relative">
                {% if slide.background_image %}
                <img class="img-fluid" src="{{slide.background_image.url}}" alt="">
                {% else %} 
                {% endif %}
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h1 class="display-3 text-white animated slideInDown mb-4">{{slide.title}}</h1>
                                <p class="fs-5 text-white mb-4 pb-2">{{slide.description}}</p>
                                <a href="" class="btn btn-warning  rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}        
        </div>
    </div>
    <!-- Carousel End -->


    <!-- WHO ARE WE START -->
    {% if about_us %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <div class="bg-warning mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Who are we ?</h1>
            </div>
            <div class="row g-0 service-row justify-content-center">
                <div class=" col-8 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item border h-100 p-5 text-center justify-content-center">
                        {% if about_us.image %}
                        <div class="btn-square bg-light rounded-circle mb-4 mx-auto" style="width: 64px; height: 64px;">
                            
                            <img class="img-fluid" src={{about_us.image.url}} alt="Icon">
                        </div>
                        {% else %}
                        {% endif %}
                        <h4 class="mb-3">{{ about_us.title }}</h4>
                        <p class="mb-4">{{ about_us.summary }}</p>
                        <a class="btn" href="{% url 'about' %}"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% endif %}
    <!-- WHO ARE WE END -->


    <!-- WHY CHOOSE US-->
    {% if service_summaries %}
    <div class="container-fluid py-5 bg-light" style="background-image: url({{b.img.url}}); position: relative;">
        <div class="overlay-custom"></div>
        <div class="container-fluid">
            
            <div class="row g-4 justify-content-center">
                <div class="text-center" style="z-index: 4;" >
                    <div class="bg-warning mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5 text-white"  >Why Royal Vanguard</h1>
                </div>
                {% for service_summary in service_summaries %}
                {% if forloop.counter == 1 %}
                <div class="col-md-5 col-lg-3 mx-1 bg-light  wow fadeIn bg-white" style="z-index: 4; opacity: 0.8;" data-wow-delay="0.1s">
                {% elif forloop.counter == 2 %}
                <div class="col-md-6 col-lg-4 wow fadeIn bg-white mx-1" style="z-index: 4; opacity: 0.8;"  data-wow-delay="0.3s">
                {% else %}
                <div class="col-md-6 col-lg-4 wow fadeIn text-center bg-white mx-1" style="z-index: 4; opacity: 0.8;"  data-wow-delay="0.5s">
                {% endif %}
                    <div class="h-100 p-4 p-xl-5 text-center">
                        <div class="d-flex align-items-center text-center justify-content-between mb-4">
                            {% if service_summary.incon %}
                            <div class="btn-square rounded-circle mx-auto" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src={{service_summary.incon.url}} alt="Icon">
                            </div>
                            {% else %} 
                            {% endif %}
                            <!-- <h1 class="display-1 mb-0" style="color: #000000;">{{forloop.counter}}</h1> -->
                        </div>
                        <h4 class="">{{service_summary.title}}</h4>
                        <hr class="w-25 mx-auto">
                        <span class="text-dark">{{service_summary.summary}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- WHY CHOOSE US -->


    <!-- About Start -->
    {% if about_us %}
    <!-- <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    {% if about_us.image %}
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{{about_us.image.url}}" style="object-fit: cover;" alt="">
                    </div>
                    {% else %}
                    {% endif %}
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <div class="bg-warning mb-3" style="width: 60px; height: 2px;"></div>
                        <h1 class="display-5 mb-4">{{about_us.title}}</h1>
                        <p class="mb-4 pb-2">{{about_us.summary}}</p>
                        <div class="row g-4 mb-4 pb-3">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center">
                                    {% if about_us.incon %}
                                    <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="{{about_us.incon.url}}" alt="Icon">
                                    </div>
                                    {% else %}
                                    {% endif %}
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">{{about_us.incon_explanation}}</h2>
                                        <p class="fw-medium text-warning mb-0">{{about_us.incon_second_explanation}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center">
                                    {% if about_us.incon2 %}
                                    <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="{{about_us.incon2.url}}" alt="Icon">
                                    </div>
                                    {% else %}
                                    {% endif %}
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">{{about_us.incon_explanation2}}</h2>
                                        <p class="fw-medium text-warning mb-0">{{about_us.incon_second_explanation2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="btn btn-warning rounded-pill py-3 px-5">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %} -->
    {% endif %}
    <!-- About End -->


    <!-- Service Start -->
    {% if services %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <div class="bg-warning mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Our Services</h1>
            </div>
            <div class="row g-0 service-row">
                {% for service in services %}
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item border h-100 p-5">
                        {% if service.incon %}
                        <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                            
                            <img class="img-fluid" src={{service.incon.url}} alt="Icon">
                        </div>
                        {% else %}
                        {% endif %}
                        <h4 class="mb-3">{{ service.title }}</h4>
                        <p class="mb-4">{{ service.summary }}</p>
                        <a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                {% endfor %}
                <div class="row g-0 service-row" data-wow-delay="0.1s">
                    <a class="btn" style="margin: auto; margin-top: 10px; margin-bottom: 10px; color: #000000; border-radius: 38px;background-color: #ffc107; width: 300px; padding: 10px;" href=""><i class="fa fa-arrow-right text-white me-3 wow fadeIn" style="border-radius: 38px;background-color: #ffc107; width: 38px; padding: 10px;"></i>See All</a>
                </div>
                
            </div>
        </div>
        
    </div>
    {% endif %}
    <!-- Service End -->


    <!--    coming soon  -->
    {% if whychooseus %}
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <div class="bg-warning mb-3" style="width: 60px; height: 2px;"></div>
                        <h1 class="display-10 mb-5">Coming Soon</h1>
                        <h4 class="display-2 mb-5">Drown Technology</h4>
                        <div class="row g-4">                           
                            <div class="g-0 row bg-light justify-content-start" data-wow-delay="0.1s">
                                <a class="btn" style="margin-top: 10px; margin-bottom: 10px; color: #000000; border-radius: 38px;background-color: #ffc107; width: 300px; padding: 10px;" href=""><i class="fa fa-arrow-right text-white me-3 wow fadeIn" style="border-radius: 38px;background-color: #ffc107; width: 38px; padding: 10px;"></i>Read More</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                    {% if whychooseus.image %}
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src={{whychooseus.image.url}} style="object-fit: cover;" alt="">
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!--    coming end  -->

    <!-- SECTORS START -->
    {% if sectors %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <div class="bg-warning mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Sectors</h1>
            </div>
            <div class="row g-0 service-row">
                {% for service in sectors %}
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item border h-100 p-5">
                        {% if service.incon %}
                        <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                            
                            <img class="img-fluid" src={{service.incon.url}} alt="Icon">
                        </div>
                        {% else %}
                        {% endif %}
                        <h4 class="mb-3">{{ service.title }}</h4>
                        <p class="mb-4">{{ service.summary }}</p>
                        <a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="row g-0 service-row" data-wow-delay="0.1s">
                    <a class="btn" style="margin: auto; margin-top: 10px; margin-bottom: 10px; color: #000000; border-radius: 38px;background-color: #ffc107; width: 300px; padding: 10px;" href=""><i class="fa fa-arrow-right text-white me-3 wow fadeIn" style="border-radius: 38px;background-color: #ffc107; width: 38px; padding: 10px;"></i>See All</a>
                </div> -->
                
            </div>
        </div>
        
    </div>
    {% endif %}
    <!-- SECTORS END -->


    <!-- Projects Start -->
    {% if  projects %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-warning mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Our Projects</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">
                        <li class="mx-2 active" data-filter="*">All</li>
                        <li class="mx-2" data-filter=".first">Complete Projects</li>
                        <li class="mx-2" data-filter=".second">Ongoing Projects</li>
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container">
                {% for project in projects %}
                {% if project.status == True %}
                <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp" data-wow-delay="0.1s">
                {% else %}
                <div class="col-lg-4 col-md-6 portfolio-item {{project.status}} wow fadeInUp" data-wow-delay="0.1s">
                {% endif %}
                    <div class="portfolio-inner">
                        {% if project.image %}
                        <img class="img-fluid w-100" src={{project.image.url}} alt="">
                        {% else %}
                        {% endif %}
                        <div class="text-center p-4">
                            <p class="text-warning mb-2">{{project.title}}</p>
                            <h5 class="lh-base mb-0">{{project.description}}</h5>
                        </div>
                        <div class="portfolio-text text-center bg-white p-4">
                            <p class="text-warning mb-2">{{project.title}}</p>
                            <h5 class="lh-base mb-3">{{project.description}}</h5>
                            <!-- <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-warning rounded-circle mx-1" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-warning rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Projects End -->



    <!-- Team Start -->
    {% if teammembers %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-warning mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Team Members</h1>
            </div>
            <div class="row g-4">
                {% for member in teammembers %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            {% if member.profile_pic %}
                            <img class="img-fluid" src={{member.profile_pic.url}} alt="">
                            {% else %}
                            {% endif %}
                            <div class="team-social">
                                <a class="btn btn-square btn-dark rounded-circle m-1" href="{{member.facebook_link}}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href="{{member.twitter_link}}"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href="{{member.instagram_link}}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">{{member.name}}</h5>
                            <span class="text-warning">{{member.position}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Team End -->


    <!-- Testimonial Start -->
    {% if testimonials %}
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-warning mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Testimonial</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                {% for testimonial in testimonials %}
                {% if testimonial.image %}
        
                <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='{{testimonial.image.url}}' alt=''>">

                {% else %}
                {% endif %}
                    <p class="fs-5">{{testimonial.description}}</p>
                    <h4>{{testimonial.client_name}}</h4>
                    <span class="text-warning">{{testimonial.profession}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Testimonial End -->


    {% include './template-parts/footer.html' %}